@font-face {
    font-family: 'Pixel';
    font-style: normal;
    font-display: swap;
    src: url('/font/pixel/PixelFont7-G02A.ttf') format('truetype');
}

$yellow: #fff228 !default;
$black: #000 !default;
$white: #fff !default;
